$white: #ffffff;
$lightGrey: #e6e6e6;
$grey: #aaa;
$darkGrey: #777;
$black: #111;

$lightGreen: rgb(162, 222, 208);
$green: #27ae60;
$darkGreen: #16a085;

$lightRed: #EF4836;
$red: #c0392b;

$blue: #446CB3;
$lightBlue: #19B5FE;
$darkBlue: #3d4752;


$orange: #FC8D2A;
$darkOrange: #D35400;