form {
    display: block;
    text-align: left;

    & label {
        display: block;
        padding: .5rem 0;
        width: 100%;
    }
}

input[type=text],
input[type=button] {
    display: block;
    padding: .25rem .5rem;
    margin-bottom: .5rem;
    line-height: 1.5rem;

    width: 100%;
    outline: 0;
    border: 1px solid $grey;
    border-radius: 3px;

    &:focus {
        border: 1px solid $blue;
    }
}

// ranges
// 
// code adapted from:
// https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

input[type=range] {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        line-height: .5rem;        
        cursor: pointer;
        background: $grey;
    }

    &::-webkit-slider-thumb {
        height: 1.25rem;
        width: 1.25rem;
        border: 1px solid $darkGrey;
        border-radius: 50%;
        background: $white;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        
        -webkit-appearance: none;
        margin-top: -.625rem;
    }

    &::-moz-range-track {
        width: 100%;
        height: 2px;
        line-height: .5rem;
        cursor: pointer;
        background: $grey;
    }

    &::-moz-range-thumb {
        height: 1.25rem;
        width: 1.25rem;
        border: 1px solid $darkGrey;
        border-radius: 50%;
        background: $white;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);        
    }

    &::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-ms-fill-lower {
        background: #2a6495;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    &::-ms-fill-upper {
        background: #3071a9;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    &::-ms-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }

    &:focus {
        &::-webkit-slider-runnable-track {
            background: $green;
        }

        &::-ms-fill-lower {
            background: #3071a9;            
        }

        &::-ms-fill-upper {
            background: #367ebd;
        }
    }
}
