$loaderClass: loader;

.#{$loaderClass} {
    display: block;
    margin: 0 auto;
    width: 5.5rem;
    height: 5.5rem;
    border: .5rem solid transparent;
    border-top: .5rem solid $darkGrey;
    border-radius: 50%;

    animation: spin 1s ease infinite;

    &.absolute_center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        animation: center_spin 1s ease infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);     
    }
    25% {
        // border-right: .5rem solid $darkGrey;
        transform: rotate(0deg);        
    }

    100% {
        transform: rotate(270deg);
        border-top: .5rem solid transparent;
        border-right: .5rem solid $darkGrey;        
    }
}

@keyframes center_spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(270deg);
        border-top: .5rem solid transparent;
        border-right: .5rem solid $darkGrey; 
    }
}