.edit.edge {
    // width: initial;
    
    & > .popup {
        & > .body {
            padding: .5rem;

            select {
                display: block;
                width: 100%;
            }

            & .buttons {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
}